@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
*,:after,:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



article{
    font-family: 'STIX Two Math', serif;
    margin: 50px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 15px gainsboro;
}
article .author{
    border: 5px solid #dcdcdc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
article section p{
    text-align: justify;
    padding: 25px;
    font-size: 25px;
}
article h2{
    padding-left: 25px;
}

.authorInfo{
    padding: 25px 0 50px 25px;
    font-family:  sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.textInfo{
    margin-left: 20px;
}
.textInfo p{
    color: #3d3d3d;
    line-height: 15px;
    font-size: 15px;
}

pre{
    color: hotpink;
    background: rgb(243, 243, 243);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 90%;
}

.code{
    border-left: 2px solid rgb(75, 75, 75);
    padding-left: 25px;
    margin-left: 25px;

}
.socials{
    margin-top: 15px;
}
.socials i{
    margin: 10px 10px 10px 0;
    font-size: 32px;
}